/*--------- REST & VARIABLES ---------*/

:root {
  --color-primary: #ff6565;
  --color-hover: #fa3d3d;
  --color-dark: #0a1a2f;
  --color-white: #fff;
  --color-light: #eee;
  --color-grey: #ccc;
  --color-text: #555;
  --max-width: 1000px;
  --spacing: 2rem;
  --line-height: 1.8rem;
  --font-main: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--color-dark);
  line-height: var(--line-height);
}


/*--------- GENERIC STYLING ---------*/

p {
  color: var(--color-text);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  padding: 0.75rem 2.5rem;
  border-radius: 50px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 2.5rem  0 0;
}

.btn:hover {
background-color: var(--color-hover);
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*--------- HEADER ---------*/

header {
  background: url('images/headphones_hero_1.jpg') no-repeat center;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-links ul {
  display: flex;
  gap: 2.5rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--color-light);
  text-decoration: none;
  font-weight: 600;
  font-size: medium;
}

.hero {
  color: var(--color-white);
  text-align: center;
  padding: 13rem 0;
}

h1 {
  font-size: 2.5rem;
}

.subtitle {
  color: var(--color-light);
  font-size:1rem;
  font-weight: 600;
  margin-top: 0.6rem;
}

.hero-text { 
  color: var(--color-grey);
  width: 600px;
  margin: 3.5rem auto 0;
  font-size: medium;
}